{{#partial "content"}}

    <div class="pages">
        <h2 class="text-center">Endangered Animals</h2>
    {{#if endangeredAnimals}}
            <div>
                <div class="card p-4 mt-4">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Health</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    {{#each endangeredAnimals}}
                        <tbody>
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ name }}</td>
                            <td>{{ age}}</td>
                            <td>{{ health }}</td>
                            <td>{{ type }}</td>
                        </tr>
                        </tbody>
                    {{/each}}
                </div>
            </div>
    {{else}}
            <p style="color:green"> No Endangered Animal .Look Around Ranger!!!!</p>
            <a href="/endangered/form" class="">Add animal</a>
        </div>
    {{/if}}
{{/partial}}
{{> layout.hbs}}

