
{{#partial "content"}}
    <h2 class="text-center mt-3" style="color:white;"></h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6" style="">
                <div class="card p-3">
                    <h5 class="text-center">WILDLIFE-LIFE-SAVERS////////(TRACKER)</h5>
                </div>
                <div class="" style="">
                    <div>
                        <div class="row">
                        <div class="col-md-12 mt-2">
                        <div class="card p-4">
                            {{#if hero}}
                                <h3 class="text-center" id="hero-title" style="color:red;">REPORTED ANIMALS:</h3>

                                {{#each hero}}
                                    <ul>
                                        <li>Name : {{name}}</li>
                                        <li>Age : {{age}}</li>
                                        <li>Health :  {{health}}</li>
                                        <li>Type :{{type}}</li>
                                    </ul>
                                    <div class="text-center">
                                        <p><a href="/sightings{{id}}">Go to Sightings</a> </p>
                                    </div>
                                {{/each}}
                            {{else}}
                            </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}